<!DOCTYPE html>
<html>
  <head>
    <title>MUMBLE TWEETS</title>
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>
<body>
 <header>
  <h1><a href"/">MUMBLE TWEETS</a></h1>
 <% if user_signed_in? %>
  <nav class="pc-nav">
      <a class="list" href = "/users/<%= current_user.id %>">My page</a>
      <%= link_to "Tweets", tweets_new_path,class:"list" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'list' %>
  </nav>
 <% else %>
  <nav class="pc-nav">
   <%= link_to "Log in" ,new_user_session_path, class: 'list' %>
   <%= link_to "Registration" ,new_user_registration_path, class: 'list' %>
  </nav>
 <% end %>
 </header>

<div class = "container1">
 <div class ="container" >
  <%= yield %>
 </div>
</div>

 <footer>
  <p>
    Copyright MUMBLE TWEET 2020
  </p>
 </footer>
</body>
</html>